body {
   background-color: aqua;
}

#numOfDiceInput {
    width: 50px;
}

#topContainer {
    border-style: solid;
    height: 200px;
    
}

#bottomContainer {
    /* border-style: solid; */
    height: 150px;
}
#diceInputSection {
    padding-bottom: 15px;
}

#middleSection {
    padding-top: 15px;
}

#dice-para {
    
    padding-left: 10px;
    font-size: 40px;
    
}
#sum-para {
  padding-left: 10px; 
}

h2 {
    padding-left: 10px;;
}